/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html,
body {
	width: 100%;
	height: 100%;
}

.container {
	max-width: calc(var(--container) + (var(--padding) * 2));
	margin: 0 auto;
	padding: calc(0 var(--padding));
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font);
}
