.range-slider {
  background-color: var(--light);
}
.range-slider .range-slider__range {
  background-color: var(--green);
}
.range-slider .range-slider__thumb {
  background-color: var(--green);
  border: 1px solid white;
}
